<DOCTYPE html>
<html lang="en">
    <head>
        <title>Airport Query Form</title>
    </head>
    <body>
        <h1>Airport Query Form</h1>
        <p>Use this page to look up airport details by ICAO code</p>
        <form action="/airport" method="get">
            <label for="icao">Airport Callsign:</label>
            <input type="text" id="icao" name="icao">
            <button type="submit">Submit</button>
        </form>
    </body>
</html>